.carousel-control-prev{
    left: 20%;
    position: absolute;
}

.carousel-control-next{
    right: 20%;
    position: absolute;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1 rem;
    color: #555;
    line-height: 1.6;
}

.content {
    padding-top: 50px;
       
}

body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .item {
    background-color: #e0e0e0;
    padding: 3%;
}

.picture {
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    padding: 5%;
}

.line {
    max-width: 300px;
}

.img-fluid:hover {
    transform: scale(1.18);
}

.img-fluid {
    transition: transform .4s;
    align-items: center;
}

.product > h2 {
    text-align: center;
    margin: 50px auto 0;
    font-size:  48px;
    font-weight: lighter;
}
.product > hr {
    margin-bottom: 50px;
}

.price {
    font-size: 32px;
}